<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.xja.dao.AdminMapper">
  <resultMap id="BaseResultMap" type="edu.xja.domain.Admin">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="admin_account" jdbcType="VARCHAR" property="adminAccount" />
    <result column="admin_pass" jdbcType="VARCHAR" property="adminPass" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="operate_time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="delete_flag" jdbcType="TINYINT" property="deleteFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, admin_account, admin_pass, create_time, creator, operate_time, operator, delete_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_admin
    where id = #{id,jdbcType=INTEGER}
  </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="edu.xja.domain.Admin">
    insert into t_admin (admin_account, admin_pass,
      create_time, creator, operate_time, 
      operator)
    values (#{adminAccount,jdbcType=VARCHAR}, #{adminPass,jdbcType=VARCHAR},
      now(), #{creator,jdbcType=VARCHAR}, #{operateTime,jdbcType=TIMESTAMP},
      #{operator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="edu.xja.domain.Admin">
    insert into t_admin
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="adminAccount != null">
        admin_account,
      </if>
      <if test="adminPass != null">
        admin_pass,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="operateTime != null">
        operate_time,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="deleteFlag != null">
        delete_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="adminAccount != null">
        #{adminAccount,jdbcType=VARCHAR},
      </if>
      <if test="adminPass != null">
        #{adminPass,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        #{deleteFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.xja.domain.Admin">
    update t_admin
    <set>
<!--      <if test="adminAccount != null">-->
<!--        admin_account = #{adminAccount,jdbcType=VARCHAR},-->
<!--      </if>-->
      <if test="adminPass != null">
        admin_pass = #{adminPass,jdbcType=VARCHAR},
      </if>
<!--      <if test="createTime != null">-->
<!--        create_time = #{createTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
<!--      <if test="creator != null">-->
<!--        creator = #{creator,jdbcType=VARCHAR},-->
<!--      </if>-->
<!--      <if test="operateTime != null">-->
<!--        operate_time = #{operateTime,jdbcType=TIMESTAMP},-->
<!--      </if>-->
      operate_time = now(),
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="deleteFlag != null">
        delete_flag = #{deleteFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.xja.domain.Admin">
    update t_admin
    set
<!--       admin_account = #{adminAccount,jdbcType=VARCHAR},-->
      admin_pass = #{adminPass,jdbcType=VARCHAR},
    <!--       create_time = #{createTime,jdbcType=TIMESTAMP},-->
   <!--       creator = #{creator,jdbcType=VARCHAR},-->
          operate_time = now(),
          operator = #{operator,jdbcType=VARCHAR},
          delete_flag = #{deleteFlag,jdbcType=TINYINT}
        where id = #{id,jdbcType=INTEGER}
      </update>

      <select id="selectByAccountAndPass" resultMap="BaseResultMap">
            select
            <include refid="Base_Column_List"/>
            from t_admin
            where  admin_account = #{param1,jdbcType=VARCHAR} and admin_pass = #{param2,jdbcType=VARCHAR}
      </select>
    </mapper>